0503 Band$bnc
1505 $erda
5056 1
1100 ${sammelband_werk_group_erscheinungsjahr}
1500 ${language}
3000 ${authors1}
3010 ${authors2} 
3010 ${authors3} 
3010 ${authors4} 
3010 ${authors5} 
3010 ${authors6} 
3010 ${authors7} 
3010 ${authors8} 
4000 ${title}$d${subtitle}
4070 $j${sammelband_werk_group_erscheinungsjahr}$p${superior_pages}
4951 ${online_links1}$3Volltext$4XX$534
4951 ${online_links2}$3Volltext$4XX$534
4951 ${online_links3}$3Volltext$4XX$534
9999 ${superior_title}; ${sammelband_werk_group_ISBN}; ${zeitschrift_werk_group_IxTheo_Link}; ${sammelband_werk_group_Herausgeber1} ${sammelband_werk_group_Herausgeber2} ${sammelband_werk_group_Herausgeber3} ${sammelband_werk_group_Herausgeber4} ${sammelband_werk_group_Herausgeber4} ${sammelband_werk_group_Herausgeber5} ${sammelband_werk_group_Herausgeber6} ${sammelband_werk_group_Herausgeber7} ${sammelband_werk_group_Herausgeber8}
