${authors1}
${authors2}
${authors3}
${authors4}
${authors5}
${authors6}
${authors7}
${authors8}
${publication_year}
${output}
${title}
${untertitel}
${language}
${ISBN}
${place_of_publication}
${publisher}
${reihe}
${reihennummer}
${online_links1}
${online_links2}
${online_links3}
